#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header section css  */
/* Base Styles for the Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 5px;
  border-style: groove;
  border: 7px;
  box-shadow: 0px 0px 5px 5px #888888;
  width: 80%;
}

/* Logo styling */
.logo img {
  height: 50px;
  width: auto;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  color: grey;
  padding: 10px 20px;
  font-weight: bold;
}

.nav-links li:hover {
  color: darkgray; /* Change color on hover */
  cursor: pointer;
}

/* Search Bar */
.search {
  display: flex;
}
.search form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.search input[type="text"] {
  border: none;
  padding: 10px 10px;
  width: 180px;
  border-radius: 5px;
}

.search button {
  background: grey;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.search-button:hover {
  background: darkgray; /* Darker blue on hover */
}

.filter-buton:hover{
  fill:darkgray
}

/* Filter Icon within the search */
.filter-icon button {
  background: none;
  border: none;
  padding: 0;
  margin: 15px 10px;
  cursor: pointer;
}

.filter-icon svg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  fill: gray;
}

.filter-icon svg:hover {
  fill: darkgray;
}

/* User Profile Icon */
.user-profile svg {
  fill: gray;
  cursor: pointer;
}

.user-profile svg:hover {
  fill: darkgray; /* Change color on hover */
}




/* Modal */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: auto;
  /* Set maximum width if screen size is larger */
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* Modal close button */
.modal-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 18px;
  float: right;
}

/* modal content  */
.modal h2 {
  margin-top: 0;
}

.modal-content {
  margin-top: 20px;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border-color: #1d1d1e;
  box-shadow: 0 0 5px rgba(105, 105, 106, 0.5);
}

.modal-content button[type="submit"] {
  background-color: #c9cec9;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button[type="submit"]:hover {
  background-color: #5f615f;
  color: white;
}

.modal-content button[type="submit"] {
  display: block;
  margin: 0 auto;
  /* Center the button */
}

.modal-content select {
  height: 40px;
  /* Adjust height as needed */
}

.modal-close-btn:hover {
  color: red;
  /* change color on hover */
}



/* css for add post section  */

.add-button-wrapper {
  height: auto;
    width: 60%;
    position: relative;
    /* left: 290px; */
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #888888;
    margin-top: 15px;
}

.add-icon {
  display: flex;
  justify-content: center;
  margin: 40px 40px;
  height: 50px;
  width: auto;
}

.add-icon-button {
  border-style: dashed;
}



.main {
  height: auto;
    width: 60%;
    position: relative;
    top: 10px;
    /* left: 275px; */
}


.wrapper {
  display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px #888888;
    height: auto;
    margin: 10px 0 10px 0px;
    padding: 0 0 15px 0;
}

.slick-slide img  {
  position: relative;
  top: 0px;
  border-radius: 10px;
  left: 0px;
  height: 450px; /* Set your desired height */
  object-fit: cover;
}

.card__image img {
  position: relative;
  top: 0px;
  border-radius: 10px;
  left: 0px;
  height: 450px; /* Set your desired height */
  object-fit: cover;
  width: 100%;
}

.slick-dots{
  display: flex !important;
  list-style: none;
  position: relative;
  justify-content: center;
}

.card__image .slick-track {
  display: flex;
}

.slick-prev, .slick-next {
  position: relative;
  /* top: 50%;
  transform: translateY(-50%); */
  z-index: 1000; /* Ensure it's above other elements */
}

.slick-prev {
  left: 20px;
    top: 16rem;
    background: darkgray;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px #888888;
}

.slick-next {
  top: -15rem;
    left: 52rem;
    background: darkgray;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px #888888;
}

.slick-slider{
  margin-top: -35px;
  margin-bottom: -35px;
}



.card__info {
  /* display: flex; */
    position: relative;
    top: 10px;

}

.card__title {
  margin: 0 0 15px 10px;
  font-size: 20px;
}

.card__title__text {
  margin: 0;
}


.card__tag {
  position: absolute;
    right: 120px;
    font-size: 12px;

}

.card__tag__text{
  border-radius: 5px;
  width: auto;
  display: flex;
  justify-content: center;
  color: black;
}

.card__description {
  margin: 10px 0 0px 15px;
}

.card__description__text{
  margin: 5px 0;
  font-size: 16px;
}



.card__location {
  color: #777;
    position: absolute;
    right: 25px;
}

.card__location__text{
  font-size: 16px;
}

.product__price {
  margin: 5px 0 5px 10px;
  font-size: 14px;
}

.posted-user img {
  width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    border-radius: 50%;
}

.posted-user{
  display: flex;
    position: relative;
    left: 15px;
}

.posted-by {
  position: relative;
    top: 8px;
    left: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 0 15px 0;
}


.view__details {
  /* position: absolute; */
    right: 0;
    font-size: 18px;
    top: 0;
    margin: 0px 0px 0px 0px;
}

.activity__section {
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
}

.like__button,
.comment__button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.view__details .see__more {
  margin: 0;
  font-style: italic;
  font-weight: bold;
}




.additional__details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px 0px 0px;

}

.additional__details table {
  width: 100%;
}

.additional__details th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

.additional__details td {
  padding: 8px;
}

.key__head {
  width: 30%;
}





/* comment section  */

.comment_section {
  /* display: flex; */

  margin-left: 5px;
}

.comment_section img {
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
  border-radius: 50%;
}



.comment_section_content{
  display: flex;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    margin: 0px 15px 10px 5px;
}

.comment_section_each{
  display: flex;
}

.user__and__date{
  margin: 5px 0 0px 15px;
}

.comment_posted_by {
  margin: 0;
}

.comment_date{
  margin: 0;
}

.input__comment img{
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
  border-radius: 50%;
}

.input__comment{
  display: flex;
    margin-left: 5px;
}

.input__comment input{
    margin-left: 45px;
width: 100%;
border-radius: 10px;
}

.input__comment svg{
  position: relative;
  right: 25px;
  top: 10px;
}