/* css for card components  */
.wrapper {
  height: 420px;
  width: auto;
  margin: 10px;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  float: left;
}

.card__image {
  float: left;
  height: 420px;
  width: 327px;
}

.card__image img {
  border-radius: 7px 0 0 7px;
}

.card__info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.card__info__text {
  height: 300px;
  width: 327px;
}

.card__info__text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.card__info__text h1,
.product__price p {
  font-family: 'Bentham', serif;
}

.card__info__text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.card__info__text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product__price {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product__price p {
  display: inline-block;
  position: absolute;
  top: 0px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product__price button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product__price button:hover {
  background-color: #79b0a1;
}


/* Header section css  */

/* Basic styling for the header */
.header {
  background: #f8f9fa; /* light grey background */
  padding: 10px; /* adds padding inside the header */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* adds a subtle shadow */
  margin-left: 100px;
}
.search form {
  display: flex; /* enables flexbox layout */
  margin: 0; /* removes margin */
  width: 100%; /* ensures form takes full width of its container */
}
.search input[type="text"] {
  flex-grow: 1; /* allows input to take up available space */
  margin-right: 8px; /* adds spacing between input and button */
  padding: 8px; /* adds padding inside the input field */
  border: 1px solid #ccc; /* adds border to the input field */
  border-radius: 4px; /* rounds the corners of the input field */
}
.search button {
  padding: 8px 16px; /* adds padding inside the button */
  background-color:#555; /* sets a blue background color */
  color: white; /* sets the text color to white */
  border: none; /* removes border */
  border-radius: 4px; /* rounds the corners of the button */
  cursor: pointer; /* changes cursor to pointer when hovering over button */
}
.search button:hover {
  background-color:#474747; /* changes background on hover */
}

.search {
  display: flex;
}


/* side bar css  */

.sidebar {
  width: 100px; /* Adjusted width */
  height: 100vh; /* Full-height */
  position: fixed; /* Sidebar will stay in place when scrolling */
  left: 0;
  top: 0;
  background-color: whitesmoke; /* Dark background color */
  color: black;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .logo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.sidebar .nav-links {
  list-style: none;
  padding: 0;
}

.sidebar .nav-links li {
  padding: 10px;
  margin-bottom: 25px;
}

.sidebar .nav-links li:hover {
  background-color: #555; /* Add hover effect */
}


.sidebar .user-profile {
  position: fixed;
  bottom: 10px;
}

.main {
  margin-left: 100px;
  float: left;
}

.filter-icon {
  display: inline-block;
  margin-left: 10px; /* Adjust this value as needed */
}

/* Optional: Style the filter icon */
.filter-icon i {
  color: #555; /* Change color as desired */
  font-size: 18px; /* Adjust size as needed */
}